<?xml version="1.0"?>

<launch>

<!--publish point cloud-->
<node name="control_node" pkg="control_tool" type="control_node">
  </node>

  <node name="save_node" pkg="control_tool" type="save_node">
  </node>

  <node name="rslidar_node" pkg="rslidar_driver" type="rslidar_node" output="screen" >
	<param name="model" value="RS16"/>
    <param name="device_ip" value="192.168.1.200" />
    <param name="port" value="6699" />
  </node>

  <node  name="cloud_node" pkg="rslidar_pointcloud" type="cloud_node" output="screen" >
	<param name="model" value="RS16"/>
	<param name="hori_angel_begin" value="0"/>
    <param name="hori_angel_end" value="0"/>   
    <param name="curves_path" value="$(find rslidar_pointcloud)/data/curves.csv" />
    <param name="angle_path" value="$(find rslidar_pointcloud)/data/angle.csv" />
    <param name="channel_path" value="$(find rslidar_pointcloud)/data/ChannelNum.csv" />
  </node>

<!--main testing node-->
  <node pkg="robosense_sdk" type="test_without_map"  name="test_without_map"  output="screen" >   
    <param name="key_path" value="$(find robosense_sdk)/key" />
    <param name="ethernet_name" value="eth0" />	 
    <param name="port" value="6699" />  <!--for online validation only-->
    <param name="args_path" value="$(find robosense_sdk)/usr_args/perception_args_16_withoutmap.xml" />
	<param name="lidar_config_path" value="$(find auto_align_tool)/save_config/align.txt" />
	<param name="receiv_ip" value="192.168.1.200" />
    <param name="receiv_port" value="6699" />
  </node>

<!--car module for ui display-->
  <group>
    <arg name="gui" default="False" />
    <param name="use_gui" value="$(arg gui)"/>
    <param name="robot_description" textfile="$(find robosense_sdk)/car_rviz_model/no_map/default.urdf" />
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"  />
    <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher"  />
  </group>

<!--rviz show-->
  <node pkg="rviz" type="rviz" name="rviz"  args="-d $(find robosense_sdk)/cfg/robosense_no_map_test.rviz"/>

</launch>
